@model List<DiaryEntry>
<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <a class="btn btn-primary">
                Create new Diary Entry
            </a>
        </div>
        <div class="col-6 text-end">
            <h2>Diary Entries</h2>
        </div>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>

        </thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td>@entry.Title</td>
                    <td>@entry.Content</td>
                    <td>@entry.Created</td>
                    <td>Edit and Delete</td>
                </tr>


            }
        </tbody>

    </table>




</div>